ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.profile-pic {
    border-radius: 50%;
    width: 2%;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-bar-left {
    float: left;
    margin: 1rem;
}

.nav-bar-right {
    float: right;
    margin: 1rem;
}

.top-container {
   width: 100vw;
   height: 30vh;
   display: flex;
   justify-content: center;
   align-items:flex-end ;
   /* background-color: aqua; */
}

.search-bar {
    padding-top: 1rem;
    display: flex;
   justify-content: center;
   align-items:flex-start;
}

.button1 {
    padding: .7rem .6rem;
    margin: 0 0.3rem;
}

.search {
    width: 582px;
    height: 44px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-bottom: 3rem;
}


.button {

    margin: 0 1rem;
    width: 4.5vw;
    height: 3.5vh;
}